<h1>New Heroes List</h1>


<%= form_with(model: @heroes_list, url: heroes_lists_path) do |form| %>
  <div class="field">
    <%= form.label :hero_name %>
    <%= form.text_field :hero_name %>
  </div>

  <%= form.hidden_field :hero_statistic_id, value: 1 %>
<!--  <div class="field">-->
<!--  <input type="number" id="hero_statistic_id" name="hero_statistic_id">-->
<!--  </div>-->
<!--  <div class="field">-->
    <%#= form.label :hero_statistic_id %>
    <%#= form.text_field :hero_statistic_id %>
<!--  </div>-->

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.file_field :hero_picture %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
