<h1><%= @user.username %></h1>

<% if @user.avatar.attached?%>
  <%= image_tag @user.avatar, width: 200, height: 200 %>
<% end %>

<p>Дата народження: <%= @user.birth_date %></p>
<p>Email: <%= @user.email %></p>

<div class="versions">
  <h1>Версії та улюблені герої</h1>
<% @user.user_more_info.each do |user_more_info| %>

    <br>--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  <h2>Версія гри: <%= user_more_info.version_list.version_number %></h2>
  <p>Рейтинг: <%= user_more_info.rating %></p>
  <p>Оцінка: <%= user_more_info.grade %></p>
  <p>Коментар: <%= user_more_info.review %></p>
    <h2> Улюблені герої </h2>

  <% if HeroesList.find(user_more_info.user_favorites_hero.favorites_hero_1_id).hero_picture.attached? %>

    <a href="<%= heroes_list_path(HeroesList.find(user_more_info.user_favorites_hero.favorites_hero_1_id)) %>">
      <%= image_tag HeroesList.find(user_more_info.user_favorites_hero.favorites_hero_1_id).hero_picture %>
    </a>
  <% end %>

  <% if HeroesList.find(user_more_info.user_favorites_hero.favorites_hero_2_id).hero_picture.attached? %>

    <a href="<%= heroes_list_path(HeroesList.find(user_more_info.user_favorites_hero.favorites_hero_2_id)) %>">
      <%= image_tag HeroesList.find(user_more_info.user_favorites_hero.favorites_hero_2_id).hero_picture %>
    </a>
  <% end %>

  <% if HeroesList.find(user_more_info.user_favorites_hero.favorites_hero_3_id).hero_picture.attached? %>

    <a href="<%= heroes_list_path(HeroesList.find(user_more_info.user_favorites_hero.favorites_hero_3_id)) %>">
      <%= image_tag HeroesList.find(user_more_info.user_favorites_hero.favorites_hero_3_id).hero_picture %>
    </a>
  <% end %>
<% end %>
</div>
<%= link_to 'Повернутися в профіль', user_path(current_user), class: "linkForBack" %>


<style>

  body {
    background-color: #203145;
    color: #FFF;
    font-family: 'Arial', sans-serif;
    margin: 0;
    /*padding: 20px;*/
  }
  h2 {
    color: #F00;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    margin-bottom: 5px;
  }

  a {
    color: #0FF;
    text-decoration: none;
  }

  .favorites_heroes {
    text-align: center;
    padding: 50px;
  }

  a:hover {
    text-decoration: underline;
  }

  form {
    margin-top: 20px;
  }

  .field {
    margin-bottom: 10px;
  }

  .field label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .field input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #FFF;
    background-color: #111;
    color: #FFF;
  }

  .actions {
    margin-top: 10px;
  }

  .actions input[type="submit"] {
    background-color: #F00;
    color: #FFF;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }

  .actions input[type="submit"]:hover {
    background-color: #800;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .versions {
    text-align: center;
  }
</style>
