<h1>New Version List</h1>


<%= form_with(model: @version_list, url: version_lists_path) do |form| %>
  <div class="field">
    <%= form.label :version_number %>
    <%= form.text_field :version_number %>
  </div>

  <div class="field">
    <%= form.label :change_information %>
    <%= form.text_field :change_information %>
  </div>

  <div class="field">
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
