<h1>New Book</h1>

<%= form_with(model: @user_favorites_hero, url: user_favorites_heros_path) do |form| %>

  <div class="field">
    <%= form.label :favorites_hero_1_id %>
    <%= form.collection_select :favorites_hero_1_id, @heroes_list, :id, :hero_name %>
  </div>

  <div class="field">
    <%= form.label :favorites_hero_2_id %>
    <%= form.collection_select :favorites_hero_2_id, @heroes_list, :id, :hero_name %>
  </div>

  <div class="field">
    <%= form.label :favorites_hero_3_id %>
    <%= form.collection_select :favorites_hero_3_id, @heroes_list, :id, :hero_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
